Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
docs
.env


# config/config.json
package-withSequelize.json

temp/

#Sequelise Temporary Ignore list
# models/
# config/
# migrations/
# src/helpers/api/installSequelize.ts
# src/helpers/installation.ts
# src/helpers/models.ts
# .sequelizerc
