
networks:
  app-tier:
    driver: bridge


services:
  app:
    build: intriin/mmdl:latest
    image: mmdl
    ports:
      - 3000:3000
    depends_on:
      - db
    networks:
      - app-tier   
    restart: always
    environment:
      DB_HOST: db
    env_file:
      - .env.local
    extra_hosts:
    - "host.docker.internal:host-gateway"
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    expose: 
      - 3306
    networks:
      - app-tier
    environment:
    ############################################################
    ## The following variables NEED to be set before execution.
    ############################################################
      
      #DB_NAME and MYSQL_DATABASE must be the same.
      MYSQL_DATABASE: sample_install_mmdm
      
      # This is the user name and password of your mysql user that will be created. These values must be used in DB_USER and DB_PASS variables in the .env file that you will create.
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword

      # This defines the root password of mysql in the container. You can use the root user too. 
      MYSQL_ROOT_PASSWORD: root
    ############################################################
    ## The following variables are advanced settings,
    ## and must be only changed in case you're trying something
    ## specific.
    ############################################################
      MYSQL_ALLOW_EMPTY_PASSWORD: ok
      MYSQL_ROOT_HOST: '%'
