
.extra-padding {
    padding: 50 !important
}

h1{
    font-size: 24px;
}
h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}

p{
    font-size: 14px;

}

.textDefault{
    font-size: 14px;

}

.smallText{
    font-size: 12px;

}

.badge{
    background-color: green;
}

.taskDoneCheckbox{
    height: 40px;
}

.btn-primary{
    background-color: #881be4;
    border-color: #881be4;
}
.btn-primary:hover{
    background-color: #cfa3f4;
    border-color: #cfa3f4;
    color: black;
}
.btn-primary::active{
    background-color: #881be4;

}

a{
    color:  #881be4;
}
a:hover{
    color: #cfa3f4;
}

.my-context-menu-dark{
    background-color: "black" !important;
    color: "red" !important
};